<% content_for :navbar do %>
  <%= render 'shared/navbar_top' %>
<% end %>

<% content_for :body do %>
<div class="video-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aoGszefFQnE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="video-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gxkxdemVKHs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="video-wrapper">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/IueuYv6pOQQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> 
</div>
  <style>
    body{ background-color: black; }
  </style>
<% end %>
