<div classs="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Vacant Frequency</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li <% if @active_tab == 1 %> style="background-color:currentColor" <% end %> >
        <a href="/blog">Blog</a>
      </li>
      <li <% if @active_tab == 2 %> style="background-color:currentColor" <% end %> >
        <a href="/hot_frog">Hot Frog</a>
      </li>
      <li <% if @active_tab == 3 %> style="background-color:currentColor" <% end %> >
        <a href="/the_pool">The Pool</a>
      </li>
      <li <% if @active_tab == 4 %> style="background-color:currentColor" <% end %> >
        <a href="/54321">54321!</a>
      </li>
    </ul>
  </div>
</div>
