<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<% content_for :navbar do %>
  <%= render 'shared/navbar_bottom' %>
<% end %>

<% content_for :body do %>
  <div id="bg">
    <%= image_tag 'background.jpg' %>
  </div>
<% end %>
