@import "bootstrap-sprockets";
@import "bootstrap";

html
{
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 30px;
}

.body-container
{
  margin-top:70px;
  margin-bottom:40px;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  background-color: black;
  text-align: right;
 
  .container {
    padding-right: 15px;
    padding-left: 15px;  
  }
}

.media
{
  border: solid 3px grey;
  padding-left:10px;
  padding-right:10px;
  margin-left: 5px;
  margin-right: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
